.caption {
  color: $color-alice-blue;
  padding-top: 305px;
  min-height: 880px;
  background-image: linear-gradient(
      180deg,
      rgba(25, 32, 36, 0.7) 71.72%,
      rgba(25, 32, 36, 0) 100%
    ),
    url("../img/background-desktop.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: $color-black-pearl;

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      url("../img/background-desktop@2x.jpg");
  }

  @media (max-width: $vp-1023) {
    min-height: 640px;
    padding-top: 180px;
    background-image: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      url("../img/background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $color-black-pearl;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-1023) {
    background-image: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      url("../img/background-tablet@2x.jpg");
  }

  @media (max-width: $vp-767) {
    min-height: 562px;
    padding-top: 154px;
    background: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      url("../img/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $color-black-pearl;
  }

  @media (min-resolution: 2dppx) and (max-width: $vp-767) {
    background-image: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      url("../img/background-mobile@2x.jpg");
  }
}

.caption__wrapper {
  padding-left: 125px;
  padding-bottom: 20px;

  @media (max-width: $vp-767) {
    display: grid;
    justify-items: right;
  }
}

.caption h1 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0;

  @media (max-width: $vp-1023) {
    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.caption p {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 48px;
  font-size: 22px;
  line-height: 34px;
  padding-right: 400px;
  width: 100%;

  @media (max-width: $vp-1023) {
    margin: 0;
    padding-right: 0;
    margin-bottom: 56px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 45px;
    width: 270px;
  }
}

.caption a {
  display: block;
  color: $color-alice-blue;
  padding: 17px 0;
  background: $color-deep-sky-blue;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  width: 410px;
  margin-bottom: 20px;

  @media (max-width: $vp-1023) {
    margin-left: 44px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 37px;
    width: 270px;
    margin-left: 0;
  }

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    background: $color-alice-blue;
  }
}

.caption__link {
  &--desktop {
    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
    }
  }
}
