.caption {
  color: $color-alice-blue;
  padding-top: 185px;
  padding-left: 125px;
  min-height: 760px;

  @media (max-width: $vp-1023) {
    padding-top: 81px;
    min-height: 540px;
  }

  @media (max-width: $vp-767) {
    min-height: 490px;
  }
}

.caption h1 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin: 0;

  @media (max-width: $vp-1023) {
    font-size: 64px;
    line-height: 75px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.caption p {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 48px;
  font-size: 22px;
  line-height: 34px;
  padding-right: 400px;

  @media (max-width: $vp-1023) {
    margin: 0;
    padding-right: 0;
    margin-bottom: 56px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 45px;
  }
}

.caption a {
  display: flex;
  flex-wrap: wrap;
  color: $color-alice-blue;
  padding: 17px 25px;
  background: $color-deep-sky-blue;
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  justify-content: center;
  width: 410px;

  @media (max-width: $vp-1023) {
    margin-left: 44px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 37px;
    width: 270px;
    margin-left: 0;
  }

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    background: $color-alice-blue;
  }
}

.caption__link {
  &--desktop {
    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
    }
  }
}
