.header__nav {
  min-height: 120px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @media (max-width: $vp-1023) {
    min-height: 100px;
  }

  @media (max-width: $vp-767) {
    min-height: 70px;
  }
}

.header img {
  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}
