.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 880px;
    background: linear-gradient(
        180deg,
        rgba(25, 32, 36, 0.7) 71.72%,
        rgba(25, 32, 36, 0) 100%
      ),
      image-set(
        url("../img/background-desktop@2x.webp") 2x,
        url("../img/background-desktop.webp") 1x,
        url("../img/background-desktop@2x.jpg") 2x,
        url("../img/background-desktop.jpg") 1x
      );
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $color-black-pearl;

    @media (max-width: $vp-1023) {
      min-height: 640px;
      background: linear-gradient(
          180deg,
          rgba(25, 32, 36, 0.7) 71.72%,
          rgba(25, 32, 36, 0) 100%
        ),
        image-set(
          url("../img/background-tablet@2x.webp") 2x,
          url("../img/background-tablet.webp") 1x,
          url("../img/background-tablet@2x.jpg") 2x,
          url("../img/background-tablet.jpg") 1x
        );
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: $color-black-pearl;
    }

    @media (max-width: $vp-767) {
      min-height: 560px;
      background: linear-gradient(
          180deg,
          rgba(25, 32, 36, 0.7) 71.72%,
          rgba(25, 32, 36, 0) 100%
        ),
        image-set(
          url("../img/background-mobile@2x.webp") 2x,
          url("../img/background-mobile.webp") 1x,
          url("../img/background-mobile@2x.jpg") 2x,
          url("../img/background-mobile.jpg") 1x
        );
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: $color-black-pearl;
    }
  }
}

.header__nav {
  min-height: 120px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @media (max-width: $vp-1023) {
    min-height: 100px;
  }

  @media (max-width: $vp-767) {
    min-height: 70px;
  }
}

.header img {
  @media (max-width: $vp-767) {
    width: 35px;
    height: 35px;
  }
}
