.modal {
  display: none;
  position: absolute;
  width: 500px;
  height: auto;
  background: $color-deep-sky;
  border-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  color: $color-white;
  top: 136px;
}

.modal h2 {
  margin: 0;
  padding: 0;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

.modal p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-right: 40px;
}

.modal input {
  margin-bottom: 20px;
}

[data-modal="modal__button"]{
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0 10px;
  top: 15px;
  right: 15px;
  border: none;
  background: $color-deep-sky;
  cursor: pointer;
  background-image: url('../img/svg/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.modal__block {
  display: flex;
  flex-direction: column;
}

.modal__block label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  padding-left: 10px;
}

.modal.is-active {
  display: block;
}

.body--overlay {
  position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.8);
}

