.products {
  margin-top: 80px;
  background-color: $color-black-pearl;
  padding-top: 66px;
  padding-bottom: 140px;
  color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    margin-top: 40px;
    padding-top: 57px;
    padding-bottom: 74px;
  }

  @media (max-width: $vp-767) {
    margin-top: 38px;
    padding-top: 47px;
    padding-bottom: 85px;
  }
}

.products h2 {
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 53px;

  @media (max-width: $vp-1023) {
    margin-bottom: 37px;
  }

  @media (max-width: $vp-767) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 30px;
    padding-right: 50px;
  }
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-column-gap: 85px;
  grid-row-gap: 30px;
  justify-content: center;

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(auto-fit, 670px);
  }

  @media (max-width: $vp-767) {
    grid-template-columns: repeat(auto-fit, 270px);
  }
}

.products li {
  background: $color-black-pearl--50;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $color-black-pearl--50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    bottom: 0;
    right: 0;
    border-radius: 3px 0 0 0;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @media (max-width: $vp-767) {
      width: 40px;
      height: 40px;
    }
  }
  &:hover,
  &:focus {
    opacity: 0.6;
  }

}

.products img {
  width: 350px;
  height: 650px;

  @media (max-width: $vp-1023) {
    width: 670px;
    height: 250px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
    height: 250px;
  }
}

.products h3 {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-white;
  margin: 0;
  position: absolute;
  top: 49px;
  left: 39px;
  width: 232px;
  padding-right: 80px;

  @media (max-width: $vp-1023) {
    top: 36px;
    left: 45px;
    padding-right: 83px;
  }

  @media (max-width: $vp-767) {
    font-size: 18px;
    top: 26px;
    left: 30px;
    padding-right: 97px;
  }
}

.product__span {
  &--is-desktop {
    @media (max-width: $vp-767) {
      display: none;
    }
  }

  &--is-mobile {
    display: none;

    @media (max-width: $vp-767) {
      display: block;
    }
  }
}

.products a::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";

}
