.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;

  @media (max-width: 1250px) {
    min-width: 768px;
    max-width: 1250px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 767px) {
    min-width: 320px;
    padding: 0 15px;
  }
}
