@font-face {
  font-family: "ptmono";
  src: url("../fonts/ptmonoregular.woff2") format("woff2"),
    url("../fonts/ptmonoregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotocondensedregular.woff2") format("woff2"),
    url("../fonts/robotocondensedregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
