// color
$color-black-pearl: #041827;

// font
$fz-default: 16px;
$ff-default: "PT Mono", sans-serif;

// Viewports
// ---------------------------------

$vp-767: 767px;
$vp-768: 768px;
$vp-1023: 1023px;
$vp-1365: 1365px;
$vp-1366: 1366px;
