// color
$color-black-pearl: #041827;
$color-black-pearl--15: rgba(4, 20, 39, 0.15);
$color-black-pearl--50: rgba(4, 24, 39, 0.5);
$color-alice-blue: #f2f5f6;
$color-deep-sky-blue: #00b2ff;
$color-deep-sky: #00b3ff;
$color-whisper: #ebebeb;
$color-white: #ffffff;
$color-white--70: rgba(255, 255, 255, 0.7);
$color-dark-white--70: rgba(248, 253, 255, 0.7);
$color-dark-white: #f8fdff;
// font
$fz-default: 16px;
$ff-default: "PT Mono","Courier New","Courier",monospace;
$ff-roboto: "Roboto Condensed", "roboto", "arial", sans-serif;

// Viewports
// ---------------------------------

$vp-767: 767px;
$vp-768: 768px;
$vp-1023: 1023px;

