// color
$color-black-pearl: #041827;
$color-alice-blue: #f2f5f6;
$color-deep-sky-blue: #00B2FF;
$color-whisper: #EBEBEB;
// font
$fz-default: 16px;
$ff-default: "PT Mono", 'arial', sans-serif;
$ff-roboto: "Roboto Condensed", 'roboto', 'arial', sans-serif;

// Viewports
// ---------------------------------

$vp-767: 767px;
$vp-768: 768px;
$vp-1023: 1023px;
